import socket
s = socket.socket(socket.AD_INET, socket.SOCK_STREAM)

ipaddr = '172.16.1.15' #target IP
port = 5309             #target port

s.connect((ipaddr, port))
s.send(b'Hi')             #send bytes-like object message

response, conn = s.recvfrom(1024)
print(response.decode())    #default is UTF-8
s.close()
